<!DOCTYPE html>
<html lang="en" ng-app="fridge">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="bower_components/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="bower_components/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="bower_components/bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="bower_components/bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="bower_components/bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="bower_components/bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="bower_components/bootstrap/docs/assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a ng-click="init()">Home</a></li>
              <li><a ng-click="login()" ng-hide="user">Login</a></li>
              <li><a ng-click="logout()" ng-show="user">[{{user}}] Logout</a></li>
              <li><a ng-click="create()">New List</a></li>
            </ul>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a class="dropdown-toggle">Lists</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <li ng-repeat="list in refridge.lists"><a ng-click="open(list)">{{list.name}}</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div ng-hide="activeList">
        <ul class="nav nav-tabs nav-stacked">
          <li ng-repeat="list in refridge.lists"><a ng-click="open(list)">{{list.name}}</a></li>
        </ul>
      </div>

      <pre>{{refridge|json}}</pre>

      <div ng-show="activeList">
        <h3><input ng-model="activeList.name" type="text" class="span10"><a class="span1 cancel" ng-click="remove(activeList)">x</a><a class="span1" ng-click="activeList.items.push({})">+</a></h3>

        <ul>
          <li ng-repeat="item in activeList.items">
            <input ng-model="item.name" class="span12">
            <textarea ng-model="item.notes" class="span12"></textarea>
          </li>
        </ul>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase-auth-client.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-fire/angularFire.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="app.js"></script>
  </body>
</html>
